<div class="content-page">
    <div class="content">
        <h1>Abonnements list</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody>
                {% for abonnement in abonnements %}
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('save_abonnment', { 'id': abonnement.id }) }}">buy</a>
                                </li>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>