{% extends "layout-yk.html.twig" %}
{% block headerMenu %}
    {% include "JardinBundle:User:base_parent_header.html.twig" %}
{% endblock headerMenu %}

{%  block body %}


{#<div id="breadcrumbs" class="section-block-wrapper">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <ol class="breadcrumb">#}
{#                    <li><a href="index.html">Home</a></li>#}
{#                    <li class="active">About Us</li>#}
{#                </ol>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<section id="about_page" class="about_page">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12 dot">#}
{#                <h2 class="section-title">empty</h2>#}

{#            </div>#}
{#            <div class="col-md-12" style="height:400px"></div>#}
{#        </div>#}
{#        <div class="row">#}

{#        </div>#}
{#    </div>#}
{#</section>#}

{%  block body %}

